body {
    font-family: monospace;
    background-color: #333;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color: yellowgreen;
    background-image: url(heic1608a.jpg);
}

button {
    background-color: #333;
    padding: 10px;
    border-style:solid;
    border-width:3px;
    border-radius: 10px;
    color: yellowgreen;
}

button:hover {
    background-color:black;
}
.nav-item {
    display: inline;
    padding:5px;
    border-width: 1px;
    border-left-style: solid;
    position: relative;
    top:10px;
    
}
.nav-item:hover {
    background-color: black;
    border-bottom-style:solid;
    
}
#nav-button {
    display: block;
    float:right;
}

#nav-bar {
    padding: 30px;
    background-color: #333;
    border-color: yellowgreen;
    border-style: none;
    border-width: 1px;
    opacity: .75;
    visibility: visible;
    position: relative;
    width:75%;
    top:0px;
    
}
#nav-animation {
    position: absolute;
    top:-100px;
    width:250px;
    height:75px;
    background-color: aliceblue;
}
.body-container{    
    width:80%;
    margin-top: 100px;
    margin-left:10%;
    margin-right:10%;
    opacity: .75; 
}

#results {
    padding: 30px;
    background-color: #333;
    border-color: yellowgreen;
    border-style: solid;
    border-width: 1px;
    font-size: 1.5em;
}